.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--color-background-black02);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &.active {
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
    .hamburger{
        width: 22px;
        height: 16px;
        border: none;
        display: none;
        align-items: center;
        background-color: transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .header-inner {
        width: var(--pc);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-container { 
            width: 50px;
            height: 12px;
            a {
                width: 100%;
                height: 100%;
                h1 {
                    width: 100%;
                    height: 100%;
                    background: url('@/assets/img/logo/test-logo.svg');
                }
            }
        }
        .nav {
            a {
                font-family: var(--font-primary);
                font-size: 18px;
                color: var(--color-white01);
                padding-left: 20px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        .header-inner {
            padding: 0 60px;
        }
    }
}

@media (max-width: 760px) {
    .header {
        .header-inner {
            width: 100%;
            padding: 0 16px;
            .hamburger{
                display: flex;
            }
            .logo-container {
                width: 40px;
                a {
                    h1 {
                        background-size: 36px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            .nav {
                display: none;
                &.open {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--color-background-black02);
                    position: absolute;
                    top: 80px;
                    left: 0;
                    a {
                        padding: 28px 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}