.header {
    width: 100%;
    height: 80px;
    // position: fixed;
    // top: 0;
    background-color: var(--color-background-black02);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-inner {
        width: var(--pc);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-container { 
            width: 50px;
            height: 12px;
            a {
                width: 100%;
                height: 100%;
                h1 {
                    width: 100%;
                    height: 100%;
                    background: url('@/assets/img/logo/test-logo.svg');
                }
            }
        }
        .nav {
            a {
                color: var(--color-white01);
                font-size: 18px;
                padding-left: 20px;
            }
        }
    }
}