.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--color-background-black02);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &.active {
        //background-color: rgba($color: #1B1D22, $alpha: 0.8);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
    .header-inner {
        width: var(--pc);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-container { 
            width: 50px;
            height: 12px;
            a {
                width: 100%;
                height: 100%;
                h1 {
                    width: 100%;
                    height: 100%;
                    background: url('@/assets/img/logo/test-logo.svg');
                }
            }
        }
        .nav {
            a {
                font-family: var(--font-primary);
                font-size: 18px;
                color: var(--color-white01);
                padding-left: 20px;
            }
        }
    }
}