.project-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .project-modal-inner {
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 36px;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        width: 680px;
        height: 760px;
        background-color: var(--color-background-white01);
        color: var(--color-black01);
        display: flex;
        flex-direction: column;
        gap: 40px;
        figure {
            width: 92px;
            height: 36px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .project-modal-title {
            p {
                font-size: 24px;
                font-weight: 500;
            }
            span {
                color: var(--color-black02);
                font-size: 20px;
                padding-top: 16px;
            }
        }
        .project-modal-top {
            display: flex;
            justify-content: space-between;
            .project-modal-type {
                display: flex;
                flex-direction: column;
            }
            .project-modal-person {
                display: flex;
                flex-direction: column;
            }
            .project-modal-button {
                display: flex;
                gap: 28px;
                button {
                    border: none;
                    background: url('@/assets/img/img-project-button.svg') no-repeat top;
                    background-size: 36px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    cursor: pointer;
                    &:hover {
                        background: url('@/assets/img/img-project-button-hover.svg') no-repeat top;
                        background-size: 40px;
                        transition: 0.3s;
                    }
                    a {
                        font-size: 24px;
                        font-family: var(--font-primary);
                        color: var(--color-black02);
                        padding-top: 45px;
                    }
                }
            }
        }
        .project-modal-contribute {
            .project-modal-contribute-cont {
                p {
                    font-size: 20px;
                    color: var(--color-black02);
                    padding-top: 12px;
                }
            }
        }
        .project-modal-skill {
            .project-modal-skill-img {
                display: flex;
                flex-wrap: wrap;
                gap: 8px 4px;
                padding-top: 12px;
            }
        }
    }
}

@media (max-width: 760px) {
    .project-modal {
        .project-modal-inner {
            width: 560px;
            height: 680px;
            padding: 28px;
            gap: 28px;
            figure {
                width: 80px;
                height: 32px;
            }
            .project-modal-title {
                p {
                    font-size: 20px;
                }
                span {
                    font-size: 18px;
                    padding-top: 12px;
                }
            }
            .project-modal-top {
                .project-modal-button {
                    gap: 20px;
                    button {
                        background-size: 32px;
                        &:hover {
                            background-size: 34px;
                        }
                        a {
                            font-size: 20px;
                            padding-top: 36px;
                        }
                    }
                }
            }
            .project-modal-contribute {
                .project-modal-contribute-cont {
                    p {
                        font-size: 18px;
                    }
                }
            }
            .project-modal-skill {
                .project-modal-skill-img {
                    img {
                        width: 68px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .project-modal {
        .project-modal-inner {
            width: 460px;
            height: 560px;
            padding: 40px 24px;
            gap: 16px;
            figure {
                width: 60px;
                height: 24px;
            }
            .project-modal-title {
                p {
                    font-size: 18px;
                }
                span {
                    font-size: 16px;
                    padding-top: 8px;
                }
            }
            .project-modal-top {
                .project-modal-button {
                    gap: 16px;
                    button {
                        background-size: 28px;
                        &:hover {
                            background-size: 30px;
                        }
                        a {
                            font-size: 18px;
                            padding-top: 30px;
                        }
                    }
                }
            }
            .project-modal-contribute {
                .project-modal-contribute-cont {
                    p {
                        font-size: 16px;
                        padding-top: 8px;
                    }
                }
            }
            .project-modal-skill {
                .project-modal-skill-img {
                    gap: 8px 2px;
                    img {
                        width: 56px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .project-modal {
        .project-modal-inner {
            width: 360px;
            height: 480px;
            padding: 28px 16px;
            gap: 12px;
            .project-modal-title {
                p {
                    font-size: 16px;
                }
                span {
                    font-size: 14px;
                }
            }
            .project-modal-top {
                .project-modal-button {
                    gap: 12px;
                    button {
                        background-size: 24px;
                        &:hover {
                            background-size: 26px;
                        }
                        a {
                            font-size: 16px;
                            padding-top: 24px;
                        }
                    }
                }
            }
            .project-modal-contribute {
                .project-modal-contribute-cont {
                    p {
                        font-size: 14px;
                    }
                }
            }
            .project-modal-skill {
                .project-modal-skill-img {
                    gap: 4px;
                    img {
                        width: 48px;
                    }
                }
            }
        }
    }
}