.skill-modal {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: var(--color-background-white01);
    z-index: 9;
    .skill-modal-inner {
        h5 {

        }
        p {
            
        }
    }
}

.project-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .project-modal-inner {
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 36px;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        width: 680px;
        height: 760px;
        background-color: var(--color-background-white01);
        color: var(--color-black01);
        display: flex;
        flex-direction: column;
        gap: 40px;
        figure {
            width: 92px;
            height: 36px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .project-modal-title {
            p {
                font-size: 24px;
                font-weight: 500;
            }
            span {
                color: var(--color-black02);
                font-size: 20px;
                padding-top: 16px;
            }
        }
        .project-modal-top {
            display: flex;
            justify-content: space-between;
            .project-modal-type {
                display: flex;
                flex-direction: column;
            }
            .project-modal-person {
                display: flex;
                flex-direction: column;
            }
            .project-modal-button {
                display: flex;
                gap: 28px;
                button {
                    border: none;
                    background: url('@/assets/img/img-project-button.svg') no-repeat top;
                    background-size: 36px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    cursor: pointer;
                    &:hover {
                        background: url('@/assets/img/img-project-button-hover.svg') no-repeat top;
                        background-size: 40px;
                        transition: 0.3s;
                    }
                    a {
                        font-size: 24px;
                        font-family: var(--font-primary);
                        color: var(--color-black02);
                        padding-top: 45px;
                    }
                }
            }
        }
        .project-modal-contribute {
            .project-modal-contribute-cont {
                p {
                    font-size: 20px;
                    color: var(--color-black02);
                    padding-top: 12px;
                }
            }
        }
        .project-modal-skill {
            .project-modal-skill-img {
                display: flex;
                flex-wrap: wrap;
                gap: 8px 4px;
                padding-top: 12px;
            }
        }
    }
}